#Ignore compiled .pyc files, we don't need them
*.pyc

#Ignore .swp files, since those shouldn't have been uploaded in the first place
*.swp

#Ignore the contents of migrations subfolders - we shouldn't be uploading databases in the middle of migration!
migrations/


