# Setup for server side:

Linux (Ubuntu tested) host with the following installed:

mongodb - runs the database
pymongo - necessary for database scripts
python3 - necessary for python scripting (pymongo)
django - web application framework
django-nonrel - fork of django supporting non-relational databases
djangotollbox - utilties for non-relational django applications
mongodb-engine - django mongodb engine. 

# Running the application:

Server must have the mongod service running on port 27017. 
